/* import font */
@import 'https://fonts.googleapis.com/css?family=David+Libre';
/* Global Styles */
.wrapper {
  width: 1200px;
  max-width: 96%;
  margin: auto;
  opacity: .9;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.content-wrapper {
  margin-top: 3rem;
  background: #201718;
  padding: 2rem 0 3rem 2rem;
  color: #fff;
  line-height: 1.5em;
}

ul, li {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 70px;
  background-image: url(images/rr.jpg);
  background-size: cover;
  font-family: 'David Libre', serif;
}

* {
  box-sizing: border-box;
}

a.see-more {
  float: right;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: #DF4A4A;
  padding: .2rem .7rem;
  border-radius: 1rem;
}

a.see-more:hover {
  box-shadow: 2px 4px 3px #db3434;
  background: #bb2121;
}

a.see-more:active {
  box-shadow: 2px 4px 3px #bb2121;
  background: #901919;
}

/* header styles */
header {
  background: #201718;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  opacity: .9;
  overflow: hidden;
}

header #logo {
  float: left;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #fff;
  margin: 0;
  padding: 1rem;
  word-spacing: .5rem;
}

header #logo:hover {
  cursor: pointer;
  background: #4CAF50;
}

header nav {
  float: right;
}

header nav h2 {
  margin: 0;
  height: 0;
  text-indent: -9999px;
}

header nav ul {
  margin-top: 1.5rem;
}

header nav ul li {
  list-style-type: none;
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 2rem;
}

header nav ul li a:hover {
  background: #DF4A4A;
}

/* photos styles */
#photos {
  margin-top: 7rem;
}

#photos #photos-wrapper {
  padding: 2rem 0;
  background: #201718;
}

#photos #photos-wrapper h2 {
  color: #fff;
  margin-top: 0;
  margin-left: .75rem;
}

#photos #photos-wrapper h2::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 1072px;
  top: 152px;
  left: 150px;
  background: #342B2C;
}

#photos #photos-wrapper li {
  list-style-type: none;
  width: 23%;
  text-align: center;
  margin: 0 1%;
  float: left;
  height: 250px;
}

#photos #photos-wrapper li img {
  width: 100%;
  height: 100%;
}

#photos #photos-wrapper li img:hover {
  cursor: pointer;
}

#photos #photos-wrapper #first-ul li {
  margin-bottom: 2rem;
}

/* about styles */
#about img {
  width: 40%;
  float: left;
  margin-right: 3rem;
}

#about a {
  margin: 6rem 1.5rem 0 0;
}

/* highlights styles */
#highlights {
  margin-bottom: 1rem;
  color: #fff;
}

#highlights .content-wrapper {
  padding-bottom: 1.5rem;
}

#highlights li {
  list-style-type: none;
  float: left;
  width: 31%;
  margin: 0 1%;
}

#highlights li img {
  width: 100%;
  height: 350px;
}

#highlights a {
  margin: 1.35rem 2rem 0 0;
}
